web/bundles/
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/config/parameters_test.yml
app/logs/*
build/
vendor/*
bin/
.idea/*
composer.phar
app/data/sessions/*
!app/data/sessions/.gitkeep